.cover__overlay{
    width: 100%;
    height: calc(100% - 92px);
    position: absolute;
    z-index: 1;
    margin: 0;
    display: block;
    background-color: rgba(42, 44, 47, 0.3);
    text-decoration: none;
    color: white;
}

.cover__overlay:hover{
  background-color: rgba(42, 44, 47, .8);
}

@media screen and (max-width: 1023px) {
    .cover__overlay{
        min-height: 480px;
        height: calc(100% - 88px);
    }
}

@media screen and (max-width: 767px) {
    .cover__overlay{
        min-height: calc(100% - 64px);
    }
}