.place__description{
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin: 0;
}

@media screen and (max-width: 1023px) {
    .place__description{
        font-size: 16px;
        max-width: 352px;
    }
}

@media screen and (max-width: 767px) {
    .place__description{
        margin: 0 auto;
        max-width: 288px;
    }
}