.place__website{
    align-self: flex-end;
    margin: 0;
    gap: 20px;
    max-width: 456px;
}

@media screen and (max-width: 1024px) {
    .place__website{
        min-width: 352px;
    }
}

@media screen and (max-width: 767px) {
    .place__website{
        align-self: flex-start;
        margin: 0 auto;
        min-width: 288px;
    }
}

